#mainMenu {
	width: 100%;
	border-radius: 0;

	.ui.avatar.image {
		margin-top: -0.5em;
		margin-bottom: -0.5em;
		margin-right: 0.5em;
	}
}


#mainMenu .right.menu .item {
	& > i.icon {
		margin-top: 0;
		margin-bottom: 0;
	}
	& > .label {
		display: inline-block;
	}
}

div.clearing {
	clear: both;
}

#contentContainer {
	position: relative;

	margin-top: 2em;
	margin-bottom: 2em;
}

.ui.red.text {
	color: #d2221d !important;
}


.ui.textarea.segment {
	padding: 0;
}

textarea.noBorder {
	border: 0 !important;
	margin: 0;
}

.fileDialog-uploadFileInput {
	display: none;
}

.ui.noGrow.button {
	flex-grow: 0;
}