#menuNotificationsMenu {
  min-width: 256px;
}
#menuNotificationsMenu .readNotification .summary {
  font-weight: normal;
}

#menuNotificationsButton > i.icon {
  margin: 0;
}
#menuNotificationsButton > .label {
  display: inline-block;
  margin-top: -8px;
  margin-bottom: -8px;
}

.markdown {
  display: inline;
}
.markdown > p:first-child {
  display: inline;
}
.markdown p, .markdown ul, .markdown ol {
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}
.markdown ul, .markdown ol {
  line-height: 1.2em;
  padding-left: 32px;
}

.commentsSection {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.replyToPrefix {
  color: #ff851b;
}

#prayerSupportPopup {
  min-width: 250px;
}

#prayerSupportWrapper {
  width: 100%;
  height: auto;
  overflow: auto;
}

#prayerSupportTable tr.baseRow td:not(.clockColumn) {
  height: 16px;
}
#prayerSupportTable tr.baseRow td:not(.clockColumn).selected {
  background-color: #2bbbff;
}

#prayerSupportTable tr.baseRow:not(.-disabled) td:not(.clockColumn) {
  cursor: pointer;
}

#prayerSupportTable tr.-additionalRow td:not(.clockColumn) {
  border-top: 0;
}

#prayerSupportTable tr.recordRow td {
  height: 12px;
  border-left: none;
  border-right: none;
}

#prayerSupportTable tbody tr td.clockColumn {
  font-weight: bold;
  background: rgba(0, 0, 0, 0.03);
}

#prayerSupportTable tbody tr td.record {
  position: relative;
  padding: 0;
  cursor: default;
  background-size: 10000%;
}
#prayerSupportTable tbody tr td.record > div {
  position: absolute;
  left: -1px;
  top: -1px;
  bottom: -1px;
  right: -1px;
  overflow: hidden;
  white-space: nowrap;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0;
  margin: 0;
  padding-left: 4px;
  vertical-align: middle;
  font-size: 0.8em;
  line-height: 24px;
}

#prayerSupportTable tbody tr.today > td {
  background-color: #fff9d4;
}
#prayerSupportTable tbody tr.today > td.clockColumn {
  background-color: #ffefb7;
}

#prayerSupportTable tbody tr.otherWeek > td {
  background-color: #ddd;
}
#prayerSupportTable tbody tr.otherWeek > td.clockColumn {
  background-color: #ccc;
}

.prayerSupportAnnouncements > .column {
  width: 350px !important;
}

.eventCalendar tr.weekend td {
  background-color: #eee;
}
.eventCalendar tr.weekend td.dayName {
  font-weight: bold;
}

.eventCalendar tr.monday:not(.extraDayRow) > td {
  border-top: 3px solid #555 !important;
}

.eventCalendar tr.positive td, .eventOverviewList tr.positive > td {
  background-color: #c4ffc0;
}
.eventCalendar tr.positive td.dayName, .eventOverviewList tr.positive > td.dayName {
  font-weight: bold;
}

.eventCalendar tr.differentMonth > td, .eventOverviewList tr.differentMonth > td {
  background-color: #ccc;
  color: #777;
}

.eventCalendar tr td.dayName {
  border-right: 1px solid #ddd;
}

.eventCalendar td {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  border-top-color: #ddd !important;
}
.eventCalendar td.dataCell {
  padding-left: 1px !important;
}
.eventCalendar td.timeCell {
  padding-right: 1px !important;
}
.eventCalendar td p {
  margin-bottom: 0.3em;
}
.eventCalendar td p:last-child {
  margin-bottom: 0;
}

.eventCalendar tr.extraDayRow td {
  border-top: none;
}

.eventOverviewList td {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

.eventCalendarItem {
  padding: 0.4em 0.833em !important;
}
.eventCalendarItem .icon {
  margin-top: -1em !important;
  margin-bottom: -1em !important;
}
.eventCalendarItem .detail {
  margin-top: -0.4em !important;
  margin-bottom: -0.4em !important;
  padding-top: 0.4em !important;
  padding-bottom: 0.4em !important;
}

.noRightMargin {
  margin-right: 0 !important;
}

/*# sourceMappingURL=main.css.map */
