.printableCalendarTable {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-family: sans-serif;
}

.printableCalendarTable .title {
  font-size: 24pt;
}

.printableCalendarTable tr.weekend td {
  -webkit-print-color-adjust: exact;
  background: #fff4a5;
}

.printableCalendarTable tr.baseDayRow td {
  border-top: 0.5pt solid black;
}

.printableCalendarTable tr:not(.baseDayRow) td {
  border-top: 0.5pt dotted black;
}

.printableCalendarTable td {
  padding-left: 1mm;
  padding-right: 1mm;
  width: auto;
  font-size: 12pt;
}

.printableCalendarTable .eventTime, .printableCalendarTable .dayNumber, .printableCalendarTable .dayName, .printableCalendarTable .eventRoom {
  width: 1px;
}

.printableCalendarTable td.eventTime {
  text-align: right;
}

.printableCalendarTable td.eventRoom {
  white-space: nowrap;
  text-align: center;
  font-size: 8pt;
}

.printableCalendarTable .dayName, .printableCalendarTable .eventRoom:not(.multidayEvent) {
  border-right: 0.5pt solid black;
}

@media screen {
  .printableCalendarTable {
    width: 60vw;
    margin: auto;
  }
}
