.printableCalendarTable {
	width: 100%;

	border-collapse: collapse;
	border-spacing: 0;

	font-family: sans-serif;

	.title {
		font-size: 24pt;
	}

	tr.weekend td {
		-webkit-print-color-adjust: exact;
		background: #fff4a5;
	}

	tr.baseDayRow td {
		border-top: 0.5pt solid black;
	}
	tr:not(.baseDayRow) td {
		border-top: 0.5pt dotted black;
	}

	td {
		padding-left: 1mm;
		padding-right: 1mm;
		width: auto;

		font-size: 12pt;
	}

	.eventTime, .dayNumber, .dayName, .eventRoom {
		width: 1px;
	}

	td.eventTime {
		text-align: right;
	}

	td.eventRoom {
		white-space: nowrap;
		text-align: center;
		font-size: 8pt;
	}

	.dayName, .eventRoom:not(.multidayEvent) {
		border-right: 0.5pt solid black;
	}
}

@media screen {
	.printableCalendarTable {
		width: 60vw;
		margin: auto;
	}
}